<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тестирование</title>
</head>
<body>
    <p>{{ question['question'] }}</p>
    <form action="" method="post">
        {% if question['type_id'] == 3 %}
            <label for="{{ answers[0]['id'] }}">
            <input type="{{ answer_type[0]['type'] }}" id="{{ answers[0]['id'] }}" name="{{ question['id'] }}"><br>
            </label>
        {% else %}
            {% for answer in answers %}
            <label for="{{ answer['id'] }}">
            <input type="{{ answer_type[0]['type'] }}" name="{{ question['id'] }}" id="{{ answer['id'] }}" value="{{ answer['id'] }}">{{ answer['answer'] }}<br>
            </label>
            {% endfor %}
        {% endif %}
        <input type="submit" name="submit{{question['id']}}">
    </form>
{{ status }}
</body>
</html>